@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

body {
  @apply bg-primary;
  font-family: ABeeZee;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
